@model Zawody.Models.Team

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortenedName" class="control-label"></label>
                <input asp-for="ShortenedName" class="form-control" />
                <span asp-validation-for="ShortenedName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StadionID" class="control-label"></label>
                <select asp-for="StadionID" class="form-control" asp-items="ViewBag.StadionID"></select>
                <span asp-validation-for="StadionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrenerID" class="control-label"></label>
                <select asp-for="TrenerID" class="form-control" asp-items="ViewBag.TrenerID"></select>
                <span asp-validation-for="TrenerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

